{% extends "submissions/evaluation-base.html" %}
{% import 'macros.html' as macros with context %}

{% block evaluation_content %}
  <form method="POST" id="create-evaluation" class="intervention-add-form">{{csrf_input}}
    <h1 class="highlight header3">{{title}}</h1>
      <div class="content caption">
      <p>
      Provide information about each intervention in the evaluation in this section.
      </p>
      <p>
      For an <b>impact evaluation</b> or <b>economic evaluation</b>, we would expect at least 2 interventions as they are inherently about comparing alternatives. This will often be one novel intervention plus something like 'business as usual', as it is common for a novel intervention to be compared against current practice.
      </p>
      <p>
      For a <b>process evaluation</b>, there could be one or more interventions, depending on how many things you are looking at.
      </p>
      {% block multipleobjects %}
        {% include "submissions/multiple-objects.html" %}
      {% endblock %}
      </div>
  </form>
{% endblock %}
